.container-barras-top-marcas {
    display: flex;
    height: 670px;
    margin-top: 20px;
    justify-content:start;

    // @media screen and (max-width: 1020px) {
    //     justify-content: start;
    // }

    .icone-separacao {
        position: relative;
        width: 0px;
        margin-top: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #6e778b8a;
    }

    .container-titulo-barra {
        display: grid;
        justify-content: center;
        align-items: center;

        .grupo-icones {
            display: flex;
        }

        .icone-descricao {
            width: 35px;
            height: 35px;
            margin: auto;
        }

        .titulo-barra {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;

            display: flex;
            align-items: center;
            text-align: center;
            color: #1b212d;
        }
    }

    .separacao-filtro {
        height: 60px;
    }

    .coluna-descricao {
        // width: 249px;
        height: 48px;
        background: #fefefe;

        .titulo-coluna {
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            color: #4056b7;
            width: 160px;
            height: 48px;
            display: flex;
            align-items: center;
            padding-left: 8px;
        }
    }

    .cor-conteudo-barra {
        background: #f8f8fa !important;
    }

    .coluna-barra {
        width: 187px;
        height: 48px;
        background: #fefefe;

        .conteudo-barra-total {
            // width: 200px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;

            .linha-divisao {
                background: #ccd4db;
                position: relative;
                top: 23px;
                height: 55px;
                width: 1px;
            }

            .linha-divisao-branca {
                position: relative;
                top: 23px;
                height: 55px;
                width: 1px;
            }
        }

        .conteudo-linha-positiva {
            width: 90px;
            display: flex;
            border-radius: 2px;
            align-items: center;
            justify-content: initial;
        }

        .conteudo-linha-negativa {
            width: 90px;
            display: flex;
            border-radius: 2px;
            align-items: center;
            justify-content: end;
        }

        .barra {
            width: 50px;
        }

        .valor-barra {
            height: 15px;
            width: 23px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #6e778b;
            border-radius: 2px;
            margin: 10px;
        }

        .valor-barra-sig {
            height: 15px;
            width: 18px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #6e778b;
            border: 1px solid #f2994a;
            border-radius: 2px;
            margin: 6px;
            padding: 2px;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .valor-info {
            text-align: center;
        }

        .sem-valor-barra {
            height: 15px;
            width: 18px;
        }

        .porc-barra-positivo {
            height: 10px;
            background: #f2994a;
            border-radius: 2px;
        }

        .porc-barra-negativo {
            height: 10px;
            background: #fefefe;
            border: 1px solid #f2994a;
            border-radius: 2px;
        }
    }

    .total-coluna {
        margin: auto;
        margin-top: 10px;
        background: #fff;
        width: 20px;
        height: 20px;

        .texto-total {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            color: #6e778b;
        }
    }
}

.group-filtro-coluna {
    display: flex;
    justify-content: center;
}
