<div class="container-tabela-colunas-simples" id="container-tabela-amarela">


  <div class="container-grafico-colunas-simples">
    <table border="0" cellpadding="0" cellspacing="0" class="tabelagrafico">
      <tr>
        <td *ngFor="let item of graficoComunicacaoVisto">
          <div class="div-principal-grafico">


            <div class="div-colunas-dupla">

           

              <div class="div-colunas">

                <div class="bolha-topo-grafico">
                  <div *ngIf="!graficoHoras" class="bolha-resultado-topo" bolha-cor-cinza>
                    {{ converterFloatUmaCasaDecimal(item.perc) }}
                  </div>

                  <div *ngIf="graficoHoras" class="bolha-resultado-topo-horas" bolha-cor-cinza>
                    {{ converterFloatUmaCasaDecimal(item.perc) }}
                  </div>

                </div>
                <div class="container-coluna">
                  <!-- <div class="coluna-pontilhada"
                [ngStyle]="{ height: calcularPorcentagemPontilhado(item.Qtd) + '%', bottom: calcularPorcentagem(item.Qtd) + '%'}">
              </div> -->
                  <div class="coluna-pontilhada" style="height: 100%;">
                  </div>
                  <div class="coluna-azul" [ngStyle]="{ height: calcularPorcentagemColuna(item.perc) + '%'}">
                    <div class="div-bolha">
                    </div>
                  </div>
                </div>
              </div>      

            </div>



            <div class="div-texto-geral">
              <div class="div-resultado-geral">
                {{ item.Descricao }}
    
              </div>

              <div class="div-sub-resultado">         
                <p  [ngClass]="{'base-vermelha' : item.BaseMinima != '' , '':item.BaseMinima==''}"  class="paragrafo-valor-base">{{item.QtdeAbs}}</p>
              </div>
            </div>
          </div>


        </td>
      </tr>
    </table>
  </div>
</div>

<div class="descricao-base">
  {{verificaMsgBase()}}
</div>