::ng-deep .ng-select.selectFiltroMarcas .ng-select-container {
  height: 40px;
  border: 0px solid;
  width: 188px;
  font-size: 13px !important;

  outline: none !important;
  @media screen and (max-width: 1020px) {
    width: 90% !important;
  }
}

::ng-deep .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  box-shadow: none !important;
}

::ng-deep .ng-select .ng-select-container:hover {
  box-shadow: 0px;
}

::ng-deep .ng-dropdown-panel.ng-select-top {
  bottom: -36px !important;
  height: 100%;
}

.container-linha-Marcas {
  display: flex;
  align-items: center;
  justify-content: end;
}

.logo-marcas {
  // padding: 8px;
  // max-width: 150px;
  // max-height: 20px;
  // width: auto;
  // height: auto;
}
.container-logo-marca {
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-filtro-image {
  // height: 150px;
  display: grid;
  justify-content: center;
  align-items: center;
}
