.desc-onda-top {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1b212d;
    justify-content: end;
    height: 0px;
    position: relative;
    top: 10px;
    .group-filtro-coluna {
        display: flex;
        justify-content: center;
    }
}

.selectFiltroColunaQ-top {
    background: #fefefe;
    border: 0px solid transparent;
    box-sizing: border-box;
    border-radius: 3px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #1b212d;
    padding-bottom: 5px;
    font-style: normal;
   
}


::ng-deep .ng-select.selectFiltroColunaQ-top .ng-select-container {
    height: 40px;
    border: 0px solid;
    // width: 80px;
    outline: none !important;

    // @media screen and (max-width: 1020px) {
    //     width: 90% !important;
    // }
}


::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container,
::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    white-space: normal !important;
    text-align: center;
}


.container-legenda {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 20px ;
    padding: 8px 0;
}

.container-texto {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.texto-legenda {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #585656;
    
}

.sinal-verde-escuro {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #00c853;
}

.sinal-verde-claro {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #64dd17;
}

.sinal-cinza-22 {
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background-color: #bdbdbd;
}

.sinal-laranja {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #ff7043;
}

.sinal-vermelho {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #d50000;
}

.sinal-t2b {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0fafa9;
}