USE [BHTEnlatados]
GO
ALTER TABLE [dbo].[tblTraducaoIdioma] DROP CONSTRAINT [FK_tblIdioma_tblIdioma]
GO
ALTER TABLE [dbo].[tblUser] DROP CONSTRAINT [DF__tblUser__FlagAti__173876EA]
GO
ALTER TABLE [dbo].[tblUser] DROP CONSTRAINT [DF__tblUser__CreateD__164452B1]
GO
/****** Object:  Table [dbo].[tblUserPerfil]    Script Date: 25/09/2025 21:01:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblUserPerfil]') AND type in (N'U'))
DROP TABLE [dbo].[tblUserPerfil]
GO
/****** Object:  Table [dbo].[tblUserIdioma]    Script Date: 25/09/2025 21:01:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblUserIdioma]') AND type in (N'U'))
DROP TABLE [dbo].[tblUserIdioma]
GO
/****** Object:  Table [dbo].[tblUserBanco]    Script Date: 25/09/2025 21:01:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblUserBanco]') AND type in (N'U'))
DROP TABLE [dbo].[tblUserBanco]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 25/09/2025 21:01:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblUser]') AND type in (N'U'))
DROP TABLE [dbo].[tblUser]
GO
/****** Object:  Table [dbo].[tblTraducaoIdioma]    Script Date: 25/09/2025 21:01:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblTraducaoIdioma]') AND type in (N'U'))
DROP TABLE [dbo].[tblTraducaoIdioma]
GO
/****** Object:  Table [dbo].[tblBanco]    Script Date: 25/09/2025 21:01:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblBanco]') AND type in (N'U'))
DROP TABLE [dbo].[tblBanco]
GO
/****** Object:  Table [dbo].[tblBanco]    Script Date: 25/09/2025 21:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBanco](
	[CodBanco] [int] IDENTITY(1,1) NOT NULL,
	[NomeBanco] [varchar](50) NULL,
	[DB] [varchar](50) NULL,
	[Ordem] [int] NULL,
	[FlagAtivo] [tinyint] NULL,
 CONSTRAINT [PK_tblBanco] PRIMARY KEY CLUSTERED 
(
	[CodBanco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTraducaoIdioma]    Script Date: 25/09/2025 21:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTraducaoIdioma](
	[CodIdioma] [int] IDENTITY(1,1) NOT NULL,
	[DescIdioma] [varchar](50) NULL,
	[SiglaIdioma] [varchar](10) NULL,
	[FlagAtivo] [tinyint] NULL,
 CONSTRAINT [PK_tblIdioma] PRIMARY KEY CLUSTERED 
(
	[CodIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 25/09/2025 21:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[CodUser] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Password] [varchar](100) NULL,
	[Email] [varchar](50) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[UpdateDate] [date] NULL,
	[CodUserPerfil] [int] NOT NULL,
	[FlagAtivo] [bit] NOT NULL,
	[Token] [varchar](100) NULL,
	[FlagPopUp] [tinyint] NULL,
 CONSTRAINT [PK__tblUser__BFF6081A4D7D7AB7] PRIMARY KEY CLUSTERED 
(
	[CodUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserBanco]    Script Date: 25/09/2025 21:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserBanco](
	[CodUser] [int] NOT NULL,
	[CodBanco] [int] NOT NULL,
 CONSTRAINT [PK_tblUserBanco] PRIMARY KEY CLUSTERED 
(
	[CodUser] ASC,
	[CodBanco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserIdioma]    Script Date: 25/09/2025 21:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserIdioma](
	[CodUser] [int] NOT NULL,
	[CodIdioma] [int] NOT NULL,
 CONSTRAINT [PK_tblUserIdioma] PRIMARY KEY CLUSTERED 
(
	[CodUser] ASC,
	[CodIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserPerfil]    Script Date: 25/09/2025 21:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserPerfil](
	[CodUserPerfil] [int] IDENTITY(1,1) NOT NULL,
	[DescUserPerfil] [varchar](50) NULL,
 CONSTRAINT [PK_tblPerfil] PRIMARY KEY CLUSTERED 
(
	[CodUserPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblBanco] ON 

INSERT [dbo].[tblBanco] ([CodBanco], [NomeBanco], [DB], [Ordem], [FlagAtivo]) VALUES (1, N'Auto', N'BHTGloboAuto', 1, 1)
INSERT [dbo].[tblBanco] ([CodBanco], [NomeBanco], [DB], [Ordem], [FlagAtivo]) VALUES (2, N'Market Place', N'BHTGloboMarketPlace', 2, 1)
INSERT [dbo].[tblBanco] ([CodBanco], [NomeBanco], [DB], [Ordem], [FlagAtivo]) VALUES (3, N'Shampoo', N'BHTGloboShampoo', 3, 1)

SET IDENTITY_INSERT [dbo].[tblBanco] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTraducaoIdioma] ON 

INSERT [dbo].[tblTraducaoIdioma] ([CodIdioma], [DescIdioma], [SiglaIdioma], [FlagAtivo]) VALUES (1, N'Portugues', N'por', 1)
INSERT [dbo].[tblTraducaoIdioma] ([CodIdioma], [DescIdioma], [SiglaIdioma], [FlagAtivo]) VALUES (2, N'Ingles', N'ing', 1)
INSERT [dbo].[tblTraducaoIdioma] ([CodIdioma], [DescIdioma], [SiglaIdioma], [FlagAtivo]) VALUES (3, N'Espanhol', N'esp', 1)
SET IDENTITY_INSERT [dbo].[tblTraducaoIdioma] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([CodUser], [Name], [Password], [Email], [CreateDate], [UpdateDate], [CodUserPerfil], [FlagAtivo], [Token], [FlagPopUp]) VALUES (2, N'Ipsos - Teste', N'*ø°Fì†¬Ïg—¨Ž¯ j¼‹Ï†x©	ç;e`ìRÐð¥zèà~kI·rñ¼Å–¾ZP†¡¡â€YÉÇp‹‰¶³M', N'ipsos@teste.com.br', CAST(N'2022-09-11' AS Date), CAST(N'2024-03-21' AS Date), 1, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
INSERT [dbo].[tblUserBanco] ([CodUser], [CodBanco]) VALUES (2, 1)
INSERT [dbo].[tblUserBanco] ([CodUser], [CodBanco]) VALUES (2, 2)
GO
INSERT [dbo].[tblUserIdioma] ([CodUser], [CodIdioma]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[tblUserPerfil] ON 

INSERT [dbo].[tblUserPerfil] ([CodUserPerfil], [DescUserPerfil]) VALUES (1, N'Admin')
INSERT [dbo].[tblUserPerfil] ([CodUserPerfil], [DescUserPerfil]) VALUES (2, N'Comum')
SET IDENTITY_INSERT [dbo].[tblUserPerfil] OFF
GO
ALTER TABLE [dbo].[tblUser] ADD  CONSTRAINT [DF__tblUser__CreateD__164452B1]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[tblUser] ADD  CONSTRAINT [DF__tblUser__FlagAti__173876EA]  DEFAULT ((1)) FOR [FlagAtivo]
GO
ALTER TABLE [dbo].[tblTraducaoIdioma]  WITH CHECK ADD  CONSTRAINT [FK_tblIdioma_tblIdioma] FOREIGN KEY([CodIdioma])
REFERENCES [dbo].[tblTraducaoIdioma] ([CodIdioma])
GO
ALTER TABLE [dbo].[tblTraducaoIdioma] CHECK CONSTRAINT [FK_tblIdioma_tblIdioma]
GO
